#loginForm registerForm{
    background-color: rgb(235, 235, 235);
}

body{
    background-color: rgb(244,242,238);
}

.navbar{
position : sticky;
top: 0;
z-index: 1000;
width: fix;
}

.range-container {
    display: flex;
    flex-direction: column;
}

.range-container input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
}

.range-container input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 10px;
    background: linear-gradient(to right, red, orange, green);
    border-radius: 5px;
}

.range-container input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    margin-top: -4px;
}
#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    color : #FFFFFF;
}


.my-path {
    fill:none;
    stroke:#464dc9;
    stroke-width:1;
  }

#animation {
    position: absolute;
    margin-top: 13%;
    margin-left: 3%;
    width: 25%;

}