@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
#loginForm registerForm {
    background-color: rgb(235, 235, 235);
}

.listSite {
position: absolute;
  top: 58px; ;
  bottom: 0;
  left: 0;
  padding: 58px 0 0; 
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
  width: 240px;
  z-index: 600;
}

body {
    background-color: rgb(244, 242, 238);
}

.navbar{
    position : sticky;
    top: 0;
    z-index: 1000;
    width: fix;
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
}

.custom-input {
    height: 60px;
    font-size: 24px; 
    color: blue;

    &:focus {
        color: blue;
    }
}

.range-container {
    display: flex;
    flex-direction: column;
}

.range-container input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
}

.range-container input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 10px;
    background: linear-gradient(to right, red, orange, green);
    border-radius: 5px;
}

.range-container input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    margin-top: -4px;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #FFFFFF;
    z-index: 1000;
}


.my-path {
    fill:none;
    stroke:#242984;
    stroke: width 1;
  }

#animation {
    position: static;
}

.ml12 {

    margin-bottom: 3%;
    font-weight: 500;
    font-size: 2.5em;
    text-transform: uppercase;
    letter-spacing: 0.5em;
}

.ml12 .letter {
    display: inline-block;
    line-height: 1em;
    
}

#checkerForm{
    margin-left: 15%;
    margin-right: 15%;
}

#leaderboard-sec {
    margin-bottom: 100px;
}


#listSite {
    background-color: white;
    box-shadow: 1px 10px 10px grey;
}

#siteButton {
    width: 230px;
    text-align: justify;
}

#reload {
    width: 20px;
}